Useful JS.txt
DevSugs.txt
Examples.txt
launch Info.txt
Build App.lnk
Start Server.lnk

.Admin/DBInfo.txt
.Admin/DB/img.txt
.Admin/*
images/*
src/venv/
src/venv_old/
src/__pycache__/
src/config.py
react/src/components/constants.js
