@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
    /* https://coolors.co/ffffff-a13f85-682182-29202b-6096ba */
    --background-light: #ffffff;
    --text-light: #ECE5F0;
    --ouline-light: #6096BA;
    --highlight-light: #6096BA;

    --background-dark: #ECE5F0;
    --text-dark: #29202B;
    --outline-dark: #5e3282;
    --highlight-dark: #A13F85;

    --danger: rgb(158, 60, 60);
    --positive: rgb(57, 146, 57);

    font-family: Roboto !important;
}