
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.background {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, rgba(242, 127, 47, 0.5) 0%, 
    rgba(138, 25, 110, 0.5) 100%), #FFFFFF;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.parent-container {
    /* position: absolute; */
    align-items: flex-start;
    margin-top: 10vh;
    /* justify-content: center; */
}

.login-form {
    margin: 0px 50px 0px 50px;
}


.input-box {
    display: flex;
    flex-direction: column;
    background: var(--background-light);
    box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.25);
    min-width: 500px;
}

h1.title { 
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 100%;
    text-align: center;
    /* identical to box height, or 96px */
    
    letter-spacing: 0.085em;    
    background: -webkit-linear-gradient(#f2802f7c, #8a196e83);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-form > button.primary {
    border-radius: 10px;
}

p {
    position: relative;
    text-align: center;
    font-size: 18px;
    margin: 10px 0px 10px 0px;
}
p:last-child {
    margin-bottom: 20px;
}

p.error-message {
    color: var(--danger);
}

.input-group > input {
    border-radius: 5px;
    padding: 5px;
} 

p.hidden {
    display: none;
}

button.primary {
    width: 100%;
    margin: 0;
    text-align: center;
}
button.tirtiary {
    margin: 0;
    font-size: 18px;
}

@media only screen and (max-width: 500px) {
    .background {
        min-width: 300px;
        height: 100vh;
    }
    .parent-container {
      margin: auto;
      height: 100vh;
      width: 100%;
      padding: 20px;
      min-width: 300px;
    }
    .login-form {
        height: 100%;
        width: 100%;
        margin: auto;
    }
    .input-box {
        width: 100%;
        max-height: 100%;
        min-width: 0;
        padding: 30px;
    }
    .title {
        font-size: 68px;
    }
    
  }

