<!DOCTYPE html>

<html>
<head>
    <title>Gallery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./style/style.css">
    <script src="./js/search.js"></script>
    <script src="./js/page-load.js"></script>
</head>

<header class="page-header">
    <div class="logo"><img src="img/logo.png" /></div>
    <div class="title-text">IntraSpace</div>
    <a id="sign-up" href="./index/#" style="float:right">Sign Up</a>
    <a id="sign-in" href="./index/#" style="float:right">Sign In</a>
    <div id="header-search">
        <input id="top-search" type="text" autocapitalize="none" placeholder="Search.." value="" onkeyup="pageSearch()">
    </div>
</header>

<div class="header-space"></div>

<body>
<div class="slidecontainer">
    <input type="range" min="1" max="2" value="2" class="slider" id="image-scale">
</div>

<div id="main-container">
    <div class="gallery-container">
        <button class="gallery-toggle active">Gallery 1</button> 
        <div class="picture-content">
            <div class="picture-container">
                <img class="gallery-image" src="Pictures/Screenshot_20210327-215616_Photos.jpg" alt="Placeholder title">
                <span class="title">Image title z</span>
            </div>
            <div class="picture-container">
                <img class="gallery-image" src="Pictures/EsGXKKJXUAQWGzD.jpg">
                <span class="title">Image title x</span>
            </div>
            <div class="picture-container">
                <img class="gallery-image" src="Pictures/ezgif.com-optimize_1.gif">
                <span class="title">Image title c</span>
            </div>
            <div class="picture-container">
                <img class="gallery-image" src="Pictures/mpcdaihl0j351_1.jpg">
                <span class="title">Image title v</span>
            </div>
            <div class="picture-container">
                <img class="gallery-image" src="Pictures/methode_times_prod_web_bin_8864ed2e-6545-11e6-a774-ff13af5d13cb.jpg">
                <span class="title">Image title</span>
            </div>
            <div class="picture-container">
                <img class="gallery-image" src="Pictures/yiux8miqqvk51.jpg">
                <span class="title">Image title</span>
            </div>
        </div>
    </div>
</div>



<div id="selected-image-modal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="modal-image">
  <div id="caption"></div>
</div>


<div class="footer">
    <div>About</div>
    <div>About2</div>
    <div>About3</div>
</div>
<div class="footer-space">

</div>


<!-- Load React. -->
<!-- Note: when deploying, replace "development.js" with "production.min.js". -->
<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>

<!-- Load our React component. -->
<script type="module" src="./components/gallery.js"></script>
</body>

</html>